@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,400;1,500&display=swap');
@import './overwritting.css';
@import './commons.css';

/* Alpine */
[x-cloak] {
    display: none !important;
}
/* regular styles */
*, html {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #E6E8EC;
}
div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.modal-container {
    position: fixed;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: unset;
    z-index: 12;
}
.modal-container .modal-body {
    padding: 1rem;
    background-color: white;
    min-width: 350px;
    width: 60%;
    max-width: 500px;
    border-radius: 7px;
    z-index: 3;
}
.modal-container .modal-mask {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: #0909098a;
}
.modal-container .modal-body .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #090909;
    font-weight: 700;
}
.modal-container .modal-body .header h4 {
    margin-top: .5rem;
    margin-left: .5rem;
    font-size: 22px;
}
.modal-container .modal-body .header button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    color: #090909;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 3rem;
}
.modal-container .modal-body .header button.close:hover {
    background-color: #f1f0f0;
}
.modal-container .modal-body .content p {
    margin-top: .5rem;
    margin-left: .5rem;
    margin-bottom: 20px;
    font-weight: 500;    
    line-height: 1.3;
}
.modal-container .modal-body .content b {
    font-weight: 600;   
}
.modal-container .modal-body .footer {
    display: flex;
    justify-content: end;
}
.modal-container .modal-body .footer button {
    font-weight: 600;
    font-size: 14px;
}
.modal-container .modal-body .footer button.cancel-modal{
    border: 2px solid #090909;
    background-color: white;
    color: #090909;
    margin-right: 12px;
    transition: var(--transition-1);
}
.modal-container .modal-body .footer button.cancel-modal:active {
    background-color: rgb(231 231 231);
}

/* Body */
nav.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 71px;
    flex-grow: 2;
    padding: 12px 12px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #090909;
    color: white;
    z-index: 9;
}
nav.main img {
    width: 28px;
    height: 28px;
}
nav.main h4 {
    font-size: 38px;
    padding-block: 22px;
}
nav.main button {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    height: min-content;
    padding: 12px;
}
nav.main button i {
    font-size: 18px;
    margin-right: 12px;
}
main {
    flex-grow: 3;
    max-height: calc(100% - 148px);
    /* overflow-y: scroll; */
}

:root {
    --transition-1: all 0.15s ease-in-out;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

input.quantity.invalid {
    border: 1px solid #F44336 !important;
    background-color: #f4433629;
}

input.quantity.invalid::placeholder {
    color: #F44336 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input.quantity::placeholder {
    color: #c7c7c7;
    font-weight: 500;
}
input.quantity:focus {
    outline: none;
    border-color: rgb(150, 150, 150);
}
header {
    margin-top: 22px;
}
header ul.table-list {
    display: flex;
    overflow-x: scroll;
    border-bottom: 1px solid #D9D9D9;
}
header ul.table-list li {
    padding: 6px 12px;
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;
}
header ul.table-list li span {
    width: 120px;
    font-size: 18px;
}
header ul.table-list li.selected {
    position: relative;
    font-weight: 800;
}
header ul.table-list li.selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    background-color: #090909;
    width: 100%;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-height: calc(100% - 53px);
    margin-inline: auto;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#scroll-container.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
} 
#scroll-container {
    height: 87%;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px 16px 20px;
    border-bottom: 2px solid #090909;
}
.card-header input.table-name {
    border: 0;
    border-radius: 6px;
    background-color: #F4F4F4;
    outline: none;
    padding-inline: 12px;
    width: 240px;
    height: 42px;

    font-size: 16px;
    font-weight: 600;

}
.card-header button.delete-table {
    background-color: white;
    color: #090909;
    height: 42px;
    width: 42px;
    border-radius: 4rem;
    padding-inline: 0;
    outline: none;
}

.card-header button.delete-table:active {
    background-color: #F4F4F4;
}
.divider {
    background-color: #656565;
}

ul.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    max-height: calc(100% - 60px);
    overflow-y: scroll;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* .store ul.table.selected {
    animation: select-table ease-out 0.25s;
} */
@keyframes select-table {
    from {
        background-color: #f3f3f3;
    } 
    to {
        background-color: white;
    }
}
.store ul.table .table-heading .table-context-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    width: max-content;
    height: 35px;
}
/* context-menu */
.store ul.table .table-heading .table-context-menu li {
    padding: 10px;
    color: #555;
    cursor: pointer;
}
.store ul.table .table-heading .table-context-menu li:hover {
    background-color: #f2f2f2;
}
.store ul.table .table-heading .table-context-menu li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.store ul.table .table-heading .table-context-menu li span {
    font-weight: 600;
}
.store ul.table .table-heading .table-context-menu li span i{
    margin-right: 6px;
}

ul.table li.quantity, ul.table li.new-quantity {
    position: relative;
    display: flex;
    align-items: center;

    padding: 12px 30px 12px 20px; 
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
ul.table li.quantity:is(:hover, :active) {
    background-color: #0000000D;
}
ul.table li.selected::before {
    content: '';
    position: absolute;
    left: 24px;
    border-radius: 3rem;
    width: 8px;
    height: 8px;
    background-color: #090909;
}
ul.table li:not(:last-child){
    border-bottom: 1px solid #DFDFDF;
}

ul.table li span {
    font-weight: 600;
    font-size: 20px;
}
ul.table li input.quantity {
    display: flex;
    text-align: start;
    width: 100%;
    height: 20px;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
ul.table li input.quantity:disabled {
    color: #090909;
    pointer-events: none;
    transition: all 0.15s ease-in-out;
}
ul.table li input.new-quantity {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    text-align: end;
    height: 20px;
    width: 100%;
    background-color: transparent;
    color: #bbbbbb;
    transition: all 0.15s ease-in-out;
    border: 0;
}
ul.table li input.new-quantity:focus {
    color: #090909;
    outline: none;
}
.store ul.table .table-content h4 {
    font-size: 2.5rem;
    font-weight: 600;
}
.store ul.table .table-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.store ul.table .table-info span.tag {
    border: 0;
    border-radius: 3rem;

    font-size: 20px;
    font-weight: 600;

    min-height: 25px;
    line-height: 1;
    min-width: 20%;
    width: max-content;
    max-width: 208px;

    padding-block: 4px;
    padding-inline: 12px;
    background-color: #e8e8e8;
    color: #383838;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: var(--transition-1);
}
.store ul.table .table-info .dot {
    flex-shrink: 0;
    background-color: #090909;
    height: 8px;
    width: 8px;
    margin-right: 6px;
    border-radius: 3rem;
}
.store ul.table .table-info span.editing.tag {
    color: #090909;
}

span:is(:active, :focus, :focus-visible ).tag {
    outline: none;
}
button.settings {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 10px;
    height: 40px;

    font-size: 26px;
    margin-left: auto;
    background-color: transparent;    
    color: #cbcbcb;
    padding: 0;
    transform: translate(0px, -10px);
}
.store ul.table.selected button.settings {
    display: flex;
}
button.settings:focus-visible {
    outline: none;
}
button.settings::before {
    content: '';
    border-radius: 4rem;
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    transition: var(--transition-1);
}

button.settings:hover::before {
    background-color: #f7f7f7;
}
button.settings i {
    position: relative;
    z-index: 3;
}

#scroll-container.not-found .not-found {
    text-align: center;
    font-weight: 600;
}
#scroll-container.not-found .not-found span {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #d9d9d9;
    margin-bottom: 20px;
}
#scroll-container.not-found .not-found h4 {
    color: #8b8b8b;
    padding-inline: 16px;
    line-height: 1.2;
}

.table-total {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1rem;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(17, 17, 26, 0.1), 0px 1px 0px rgba(17, 17, 26, 0.05);
}

.table-total .group {
    margin-right: auto;
    text-align: start;
}

.table-total .group h4.label {
    font-size: 13px;
    font-weight: 600;
    color:#C9C9C9;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.table-total .group h3.value {
    font-weight: 700;
    font-size: 26px;
    color: #090909;
}

@media (min-width: 768px) {
    .card {
        margin-top: 7rem;

        max-width: 70%;
        height: 750px;
    }
    
}
@media (min-width: 1200px) {
    .card {
        max-width: 550px;
    }
}