@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,400;1,500&display=swap');
/* Alpine */
[x-cloak] {
    display: none !important;
}
/* regular styles */
*, html {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #E6E8EC;
}
div.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.modal-container {
    position: fixed;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    overflow: unset;
    z-index: 12;
}
.modal-container .modal-body {
    background-color: white;
    max-width: 385px;
    width: 100%;
    padding: 1rem;
    margin-inline: 9px;
    border-radius: 7px;
    z-index: 3;
}
.modal-container .modal-mask {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: #0909098a;
}
.modal-container .modal-body .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #090909;
    font-weight: 700;
    margin-bottom: 6px;
}
.modal-container .modal-body .header h4 {
    margin-top: .5rem;
    font-size: 22px;
}
.modal-container .modal-body .header button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: transparent;
    color: #090909;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 3rem;
}
.modal-container .modal-body .header button.close:hover {
    background-color: #f1f0f0;
}
.modal-container .modal-body .content p.modal-text {
    margin: .5rem 0 12px 0;
    font-weight: 500;
    line-height: 1.4;
}
.modal-container .modal-body .content b {
    font-weight: 600;   
}
.modal-container .modal-body .footer {
    display: flex;
    justify-content: end;
    margin-top: 12px;
}
.modal-container .modal-body .footer button {
    font-weight: 600;
    font-size: 14px;
}
.modal-container .modal-body .footer button.cancel-modal{
    border: 2px solid #090909;
    background-color: white;
    color: #090909;
    margin-right: 12px;
    transition: var(--transition-1);
}
.modal-container .modal-body .footer button.cancel-modal:active {
    background-color: rgb(231 231 231);
}

/* Body */
nav.main {
    display: flex;
    align-items: center;
    flex-grow: 2;

    max-height: 71px;
    padding: 12px 12px;
    
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #090909;
    color: white;
    z-index: 9;
}
nav.main div.search-container {
    display: flex;
    align-items: center;
    position: relative;
}
nav.main div.search-container input.search {
    background-color: transparent;
    font-weight: 500;
    color: white;
    max-width: 138px;
    margin-inline: 6px;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    transition: all 0.15s ease-in-out;
}

nav.main div.search-container input.search:is(:active, :focus-within){
    outline: none;
}
nav.main div.search-container input.search:disabled {
    border-bottom-color: transparent;
    transition: all 0.15s ease-in-out;
}

nav.main div.search-container button.clear-search {

    display: flex;    
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-size: 20px;

    width: 35px;
    height: 35px;
    border-radius: 100vmax;
}

nav.main button:is(.add-table, .print-table, .delete-table, .options) span.desktop-visible {
    margin-left: 12px;
}
nav.main div.search-container button.search {
    padding: 0;   
    width: 45px;
    height: 45px;
    border-radius: 100vmax;
}
nav.main div.search-container button.search i {
    font-size: 18px;
    font-weight: 600;
}
nav.main button.add-table {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    height: min-content;
    margin-left: auto;
    margin-right: 2px;
    padding: 10px;
    border-radius: 100vmax;
}
nav.main button.add-table:hover {
    background-color: #1d1d1d;
}

nav.main button.add-table img {
    width: 25px;
    height: 25px;
}
nav.main button.add-table i {
    font-size: 18px;
    margin-right: 12px;
}
nav.main div.popup-container {
    position: relative;
}
nav.main button.options {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;

    padding: 22px;

    height: 35px;
    width: 35px;

    border-radius: 100vmax;
}

nav.main button:is(.options, .add-table, .search){
    background-color: transparent;
}
nav.main button:is(.options, .add-table, .search):is(:hover, :active) {
    background-color: #1d1d1d;
}
nav.main button:is(.options, .search) > i {
    background-color: transparent;
    color: white;
}

nav.main .popup-container ul.pop-up {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    width: max-content;
    height: max-content;
}
/* context-menu */
nav.main .popup-container ul.pop-up li {
    padding: 10px;
    color: #555;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

nav.main .popup-container ul.pop-up li:first-child {padding-top: 14px !important;}
nav.main .popup-container ul.pop-up li:last-child {padding-bottom: 14px !important;}

nav.main .popup-container ul.pop-up li:hover {
    background-color: #f2f2f2;
    color: #090909;
}
nav.main .popup-container ul.pop-up li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
nav.main .popup-container ul.pop-up li span {
    font-weight: 600;
}
nav.main .popup-container ul.pop-up li i{
    margin-right: 10px;
}

main {
    flex-grow: 3;
    max-height: calc(100% - 144px);
}
main.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 3;
    max-height: calc(100% - 144px);
}

main.not-found img.not-found-img {
    width: 120px;
    height: 120px;
}
main.not-found h4 {
    color: #777;
    font-weight: 600;
    max-width: 275px;
    line-height: 1.2;
    margin-inline: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
}

input.value.invalid {
    border: 1px solid #F44336 !important;
    background-color: #f4433629;
}

input.value.invalid::placeholder {
    color: #F44336 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input:is(.name, .value)::placeholder {
    color: #c7c7c7;
    font-weight: 500;
}
input:is(.name, .value):focus {
    outline: none;
    border-color: rgb(150, 150, 150);
}
header {
    margin-top: 22px;
}
header ul.table-list {
    display: flex;
    overflow-x: scroll;
}
header ul.table-list li {
    white-space: nowrap;
    padding: 6px 12px;
    margin-left: 12px;
    margin-right: 8px;
    cursor: pointer;
}
header ul.table-list li span {
    width: 120px;
    font-size: 18px;
}
header ul.table-list li.selected {
    position: relative;
    font-weight: 800;
}
header ul.table-list li.selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 4px;
    background-color: #090909;
    width: 100%;
}


div.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-height: calc(100% - 100px);
    margin-inline: auto;

    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
div.card.no-quantities {
    box-shadow: none;
    height: 100%;
}
#scroll-container.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
} 
#scroll-container {
    height: 87%;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
}
.card-header {
    display: flex;
    padding: 20px 12px 16px 12px;
    background-color: white;
    border-top: 1px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
}
.card-header h4.print-date {
    font-weight: 600;
    margin-block: auto;
    margin-left: auto;
}
.card-header input.table-name {
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    background-color: #F4F4F4;
    outline: none;
    padding-inline: 12px;
    width: 175px;
    height: 42px;

    font-size: 16px;
    font-weight: 600;

}
.card-header button.delete-table {
    margin-left: auto;
}
.card-header button:is(.delete-table, .print-table) {
    background-color: white;
    color: #090909;
    height: 42px;
    width: 42px;
    border-radius: 4rem;
    padding-inline: 0;
    outline: none;
}

.card-header button:is(.delete-table, .print-table):active {
    background-color: #F4F4F4;
}
.divider {
    background-color: #656565;
}
div.no-quantities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E8EC;
    height: 100%;
}
div.no-quantities-container img {
    width: 60px;
}
div.no-quantities-container h1{
    margin-top: 12px;
    text-align: center;
    font-weight: 600;
    color: #777777;
    max-width: 80vw;
    line-height: 1.4;
}

ul.table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    max-height: calc(100% - 60px);
    overflow-y: scroll;

    /* background-color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    z-index: 3;
}

@keyframes select-table {
    from {
        background-color: #f3f3f3;
    }
    to {
        background-color: white;
    }
}

ul.table li.quantity {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    
    padding-block: 6px;
    padding-right: 30px;
    padding-left: 20px;

    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}
ul.table li.quantity:is(:hover, :active, .selected) {
    background-color: #eee;
}
ul.table li.quantity.selected input.value {
    border-color:#e1e1e1;
    opacity: .65;
}
ul.table li.quantity:is(:hover, :active) input.value {
    border-color:#e1e1e1;
}

ul.table li.quantity div.select-indicator {
    margin-left: 16px;
}

ul.table li {
    /* background-color: #0000000D; */
    /* content: '';
    position: absolute;
    left: 24px;
    border-radius: 3rem;
    width: 8px;
    height: 8px;
    background-color: #090909; */
}
ul.table li:not(:last-child){
    border-bottom: 1px solid #DFDFDF;
}

ul.table li span {
    font-weight: 600;
    font-size: 20px;
}
ul.table li input:is(.value, .name) {
    display: flex;
    text-align: start;
    
    padding-block: 4px;
    padding-left: 12px;

    font-weight: 600;
    font-size: 20px;
    
    border: 0;
    border-radius: 6px;
    
    background-color: transparent;
    
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
ul.table li input.name {
    width: 70%;
}
ul.table li input.value {
    width: 30%;
    border: 2px solid #F4F4F4;
    background-color: #F4F4F4;
}
ul.table li input:is(.value, .name):disabled {
    opacity: 1; /* required on iOS */
    color: #090909;
    -webkit-text-fill-color: #090909;
    pointer-events: none;
    transition: all 0.15s ease-in-out;
}

#scroll-container.not-found .not-found {
    text-align: center;
    font-weight: 600;
}
#scroll-container.not-found .not-found span {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #d9d9d9;
    margin-bottom: 20px;
}
#scroll-container.not-found .not-found h4 {
    color: #8b8b8b;
    padding-inline: 16px;
    line-height: 1.2;
}

div.table-sum {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 1rem;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(17, 17, 26, 0.1), 0px 1px 0px rgba(17, 17, 26, 0.05);
    flex-grow: 1;
    z-index: 3;
}

div.table-sum div.info {
    display: flex;
}
div.table-sum div.info button.delete-items {
    padding-inline: 10px;
    background-color: transparent;
    border: 3px solid #E92222;
    color: #E92222;
    font-weight: 600;
}
div.table-sum div.info button.delete-items:hover {
    background-color: #FFDBDB;
}
div.table-sum div.info button.delete-items i {
    margin-right: 8px;
}


div.table-sum div.info span.error-label{
    display: flex;
    margin-right: auto;
    margin-top: auto;
    color: #E92222;
    font-size: 12px;
    align-items: end;
    height: max-content;
}

div.table-sum div.mobile-total {
    display: block;
    margin-left: auto;
    text-align: start;
}
div.table-sum div.desktop-total {
    display: none;
}

div.table-sum div:is(.mobile-total, .desktop-total) h4.label {
    font-size: 13px;
    font-weight: 600;
    color:#C9C9C9;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 3px;
}
div.table-sum div:is(.mobile-total, .desktop-total) h3.value {
    display: flex;
    justify-content: end;
    text-align: end;
    width: 100%;
    font-weight: 700;
    font-size: 26px;
    color: #090909;
}
/* .table-sum .total input.value:disabled {
    opacity: 1; 
    color: #090909;
    -webkit-text-fill-color: #090909;
} */
.new-quantity {
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: 12px;
    background-color: transparent;
    color: #bbbbbb;
    flex-grow: 2;
    transition: all 0.15s ease-in-out;
}
.new-quantity.disabled {
    pointer-events: none;
    cursor: no-drop;
}
.new-quantity.disabled :is(input, button){
    opacity: .65;
}
.new-quantity input {
    display: flex;
    flex-grow: 1;
    font-weight: 600;
    font-size: 17px;
    padding-inline: 8px;
    margin-right: 6px;
    border-radius: 5px;    
    border: 1px solid #bbbbbb;
    width: 100%;
    transition: all 0.15s ease-in-out;    
}

.new-quantity input:is(:focus, :focus-visible) {
    border-color: #838383;
    color: #090909;
    outline: none;
}

.new-quantity button {
    background-color: #090909;
    font-size: 15px;
    flex-grow: 0;
}
.new-quantity button:disabled {
    background-color: #656565;
}

.desktop-visible {
    display: none;
}
.d-mobile {
    display: none;
}
.d-print {
    display: none;
}
@media (min-width: 768px) {
    .d-mobile {
        display: block;
    }
    main {
        max-height: calc(100% - 100px);
    }
    .card {
        height: 750px;
    }
    /* all buttons in desktop */
    button:is(.search, .add-table, .options, .delete-table, .print-table) {
        display: flex;
        align-items: center;
        border-radius: 6px !important;
        font-size: unset;        
        width: unset !important;
        height: unset !important;
        padding: 10px !important;
    }
    button:is(.search, .add-table, .options, .delete-table, .print-table):active {
        color: unset;
    }
    nav.main button.add-table {
        margin-right: 22px;
    }
    div.card-header button.print-table {
        margin-left: 8px;
    }
    .card-header button:is(.delete-table, .print-table) {
        font-weight: 600;
    }
    .desktop-visible {
        display: flex; 
        margin-left: 12px;
    }
    .card-header input.table-name {
        width: 33%;
    }
    ul.table {
        align-content: start;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    ul.table li.quantity {
        width: 33.33%;
        height: max-content;
        border-right: 1px solid #ddd;
    }
    div.table-sum {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    div.table-sum div.mobile-total {
        display: none;
    }
    div.table-sum div.desktop-total {
        display: block;
    }
    
    div.table-sum div.new-quantity {
        display: flex;
        align-items: center;
        width: 33.33% !important;
        margin-top: 0;
        margin-inline: auto;
        flex-grow: unset;
    }
    div.table-sum div.new-quantity input {
        order: 1;
        flex-grow: unset;
        height: max-content;
        height: 45px;
    }
    div.table-sum div.new-quantity button {
        display: flex;
        align-items: center;
        align-content: center;
        font-weight: 600;
        order: 2;
        min-width: 165px;
        height: 45px;
    }
}

.d-none {
    display: none !important;
}
@media print {
    .non-printable {
        display: none !important;
    }
    .d-print {
        display: block;
    }
    .d-none {
        display: none !important;
    }
}